<div class="alert alert-primary">
    <div class="row">
        <div class="col-md-4">
            <h3>Mantenimiento de Clientes</h3>
        </div>
        <div class="col-md-2">
            <button id="btnAgregarCliente" class="btn btn-success">
                Agregar
            </button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalRegistroCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mantenimiento de Clientes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nombres</label>
                                <input type="text" class="form-control" id="txtNombre" />
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label>Apellidos</label>
                                <input type="text" class="form-control" id="txtApellido" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Ciudad</label>
                                <input type="text" class="form-control" id="txtCiudad" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Pais</label>
                                <input type="text" class="form-control" id="txtPais" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Teléfono</label>
                                <input type="text" class="form-control" id="txtTelefono" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnGuardarCliente">Guardar</button>
            </div>
        </div>
    </div>
</div>


<div id="divListadoClientes">

</div>


<script>

    $("#btnGuardarCliente").click(function ()
    { 
        let vIdCliente = -1;
        let vNombre = $("#txtNombre").val();
        let vApellido = $("#txtApellido").val();
        let vPais = $("#txtPais").val();
        let vCiudad = $("#txtCiudad").val();
        let vTelefono = $("#txtTelefono").val();
    });

    $("#btnAgregarCliente").click(function ()
    { 
        var myModal = new bootstrap.Modal(document.getElementById('modalRegistroCliente'));
        myModal.show();
    });


    CargarListadoCliente();
    function CargarListadoCliente()
    {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Listado","Customer", new {Area = "Marketing"})',
            cache: false,
            success: function(dataHTML){
                $("#divListadoClientes").html(dataHTML);
            }
        });
    }


</script>